.intro-section, .giftbox-section, .tower-section {
    margin-top: 5vh;
}

.intro-section > h5, .giftbox-section > h5, .tower-section > h5 {
    text-align: center;
}

.intro-section > p, .giftbox-section > p, .tower-section > p {
    text-align: center;
}

.giftbox-section > ul,
.tower-section > ul {
    padding-left: 4%;
}

.giftbox-section > ul > li,
.tower-section > ul > li {
    list-style-type: circle;
    width: 17%;
    margin: 0 auto;
    font-size: .9rem;
}

.tower-section img {
    width: 82%;
    padding-left: 14vw;
}

.intro-section > p > a {
    color: #df5277;
}

/* .tower-section {
    background-image: url('../images/gifts-parties-background.png');
    width: 100%;
} */
@media (max-width: 2000px) {
    .giftbox-section > ul > li,
    .tower-section > ul > li {
        width: 30%;
    }

    .giftbox-section > ul, .tower-section > ul {
        padding-left: 11%;
    }
}

@media (max-width: 1200px) {
    .giftbox-section > ul > li,
    .tower-section > ul > li {
        width: 40%;
    }
}

@media (max-width: 850px) {
    .giftbox-section > ul > li,
    .tower-section > ul > li {
        width: 44%;
    }
}

@media (min-width: 800px) {
    .tower-section img {
        width: 70%;
        padding-left: 18vw;
    }
}

@media (max-width: 500px) {
    .giftbox-section > ul > li,
    .tower-section > ul > li {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .giftbox-section > ul > li,
    .tower-section > ul > li {
        width: 67%;
    }
}




