.menu-items {
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 7.5%;
    right: 0;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-items li {
    border-top: 1px solid #444;
}

@media (min-width: 800px) {
    .menu-items {
        right: 14.9%;
    }
}

@media (min-width: 379px) and (max-width: 600px) {
    .menu-items {
        top: 6.5%
    }
}

@media (max-width: 500px) {
    .menu-items {
        top: 57px;
    }
}

@media (width: 768px) {
    .menu-items {
        top: 65px;
    }
}