.macaron-description > h5 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5vh;
}
.macaron-section > h5 {
    text-align: center;
    margin-top: 5vh;
}

.macaron-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6vh;
}

.macaron-section > ul li {
    list-style-type:  circle;
    width: 34%;
    margin: 0 auto;
}

.macaron-section > p {
    margin-top: 5vh;
    font-size: .9rem;
}

@media (min-width: 800px) {

    .macaron-description > h5 {
        font-size: 1.64rem;
    }
    /* .macaron-list {
        margin-left: 29vh;
    } */
}

@media (max-width: 1500px) and (min-width: 989px) {
    .desktop-settings {
        /* flex-direction: column;
        align-items: center; */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .weeklySchedule {
        width: 38vh;
    }

    .single-flavor {
        padding: 5.5% 20%;
    }
}

@media (min-width: 1500px) {
    .macaron-list {
        margin-left: 21vh;
    }
}

@media (max-width: 475px) {
    .macaron-list {
        margin-left: 0;
    }

    .macaron-section > ul li {
        width: 51%;
        margin-right: 7vh;
    }
}