.nav-wrapper {
    /* position: fixed !important;  */
    width: 100%;
    height: inherit !important;
    box-shadow: 1px 1px 1px gray !important;
    background-color: #fffabe;
}

.brand-logo > img {
    margin: 8% 0 0 2%;
}

.nav-wrapper > div > i {
    margin-right: 5vw;
    color: #000;
    cursor: pointer;
}

.nav-wrapper > div > i:hover {
    color: #df5277;
}

.nav-wrapper > ul > li > a {
    color: black;
}

@media (max-width: 799px) {
    .nav-wrapper {
        position: fixed !important;
    }
}

@media (min-width: 800px) {
    .brand-logo > img {
        margin: 10% 0 0 8%;
    }
}